openapi: 3.0.0
info:
  title: Pathfinder API
  description: API details for using the pathfinder API to do a cross-chain transfer/swap of tokens
servers:
  - url: https://app.staging2.thevoyager.io/api
    description: Router Protocol Testnet
tags:
  - name: Quote
    description: Requesting a quote from the Pathfinder algorithm
  - name: Check Status
    description: Check status of your cross-chain request
paths:
  /quote:
    get:
      summary: Returns a quote and txn data for executing a cross-chain txn
      tags:
        - Quote
      operationId: quote
      description:
      parameters:
        - in: query
          name: fromTokenAddress
          required: true
          schema:
            type: string
          example: "0x0FA8781a83E46826621b3BC094Ea2A0212e71B23"
          description: Token address of the asset you wish to transfer from the source chain.
        - in: query
          name: toTokenAddress
          required: true
          schema:
            type: string
          example: "0x5B4edAd1eE1A3328c113dbae3CB5aE061fBBcD84"
          description: Token address of the asset you wish to receive on the destination chain.
        - in: query
          name: amount
          required: true
          schema:
            type: string
          example: "3000000000000000000"
          description: "Decimal-expanded amount of the token to be transferred (for eg: if you want to transfer 1 USDC, you need to send 1000000). You can use ethers.utils.parseUnits function to calculate the decimal-adjusted amount of the source token."
        - in: query
          name: fromTokenChainId
          required: true
          schema:
            type: string
          example: "80001"
          description: "Network ID of the source chain (eg: 80001 for mumbai testnet, 43113 for fuji)"
        - in: query
          name: toTokenChainId
          required: true
          schema:
            type: string
          example: "43113"
          description: Token address of the asset you wish to receive on the destination chain.
        - in: query
          name: slippageTolerance
          required: false
          schema:
            type: string
          example: "2"
          description: Amount of price slippage that you are willing to accept for the trade. By default, it is set to 1.5.
        - in: query
          name: userAddress
          required: true
          schema:
            type: string
          example: "0x6F764aFdDFb229986d085C44aBFf6a0225164ad4"
          description: Wallet address initiating the transaction. If userAddress is omitted, only quote is returned without data txn.
        - in: query
          name: destReceiverAddress
          required: false
          schema:
            type: string
          example: "0x6F764aFdDFb229986d085C44aBFf6a0225164ad4"
          description: Address of the user on the destination chain. By default, it is set the same as userAddress.
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteErrorResponse"
  /status:
    get:
      summary: Returns the status of a cross-chain txn
      tags:
        - Status
      operationId: status
      description:
      parameters:
        - in: query
          name: txHash
          required: true
          schema:
            type: string
          example: "0x0fac92a29bfa71c4c37e1e3ea8f90ac3dc8457e29268b554f056bc29cf38259d"
          description: Transaction hash of the successfully mined source chain transaction.
        - in: query
          name: networkId
          required: true
          schema:
            type: string
          example: "80001"
          description: "Network ID of the source chain, i.e. where the transaction was initiated (eg: 80001 for mumbai testnet)."
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusErrorResponse"

components:
  schemas:
    QuoteErrorResponse:
      type: string
      example: "Not Found"
    StatusErrorResponse:
      type: string
      example: "Invalid source transaction hash"
    QuoteResponse:
      type: object
      required:
        - "isWrappedToken"
        - "source"
        - "destination"
        - "txn"
      properties:
        isWrappedToken:
          type: bool
          example: false
        source:
          type: object
          required:
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "bridgeFee"
            - "tokenPath"
          properties:
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
                - "tokenInstance"
              properties:
                decimals:
                  type: int
                  example: 18
                symbol:
                  type: string
                  example: "USDC"
                name:
                  type: string
                  example: "USDC"
                chainId:
                  type: int
                  example: 80001
                address:
                  type: string
                  example: "0xe91E3aEfEAd645eea8a9007CEe7F64C0c913285F"
                resourceID:
                  type: string
                  example: "0x0000000000000000000000c25902c1c5c16b9bf73702a8902e26bb0b8da37800"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
                tokenInstance:
                  type: object
                  required:
                    - "decimals"
                    - "symbol"
                    - "name"
                    - "chainId"
                    - "address"
                  properties:
                    decimals:
                      type: int
                      example: 18
                    symbol:
                      type: string
                      example: "USDC"
                    name:
                      type: string
                      example: "USDC"
                    chainId:
                      type: int
                      example: 80001
                    address:
                      type: string
                      example: "0xe91E3aEfEAd645eea8a9007CEe7F64C0c913285F"
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDC"
                name:
                  type: string
                  example: "USDC"
                chainId:
                  type: int
                  example: 137
                address:
                  type: string
                  example: "0xe91E3aEfEAd645eea8a9007CEe7F64C0c913285F"
                resourceID:
                  type: string
                  example: "0x0000000000000000000000c25902c1c5c16b9bf73702a8902e26bb0b8da37800"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "2000000000000000000"
            stableReserveAmount:
              type: string
              example: "2000000000000000000"
            path:
              type: array
              example: []
            path:
              type: array
              example: ["17716742144"]
            priceImpact:
              type: string
              example: "0"
            bridgeFeeAmount:
              type: int
              example: '1080420000000000000'
            tokenPath:
              type: string
              example: ""
        destination:
          type: object
          required:
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "bridgeFee"
            - "tokenPath"
          properties:
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
                - "tokenInstance"
              properties:
                decimals:
                  type: int
                  example: 18
                symbol:
                  type: string
                  example: "USDC"
                name:
                  type: string
                  example: "USD Coin"
                chainId:
                  type: int
                  example: 43113
                address:
                  type: string
                  example: "0x685A94e520CfA0AdF6b48dF42Fb1AeF8C024EAf5"
                resourceID:
                  type: string
                  example: "0x0000000000000000000000c25902c1c5c16b9bf73702a8902e26bb0b8da37800"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
                tokenInstance:
                  type: object
                  required:
                    - "decimals"
                    - "symbol"
                    - "name"
                    - "chainId"
                    - "address"
                  properties:
                    decimals:
                      type: int
                      example: 18
                    symbol:
                      type: string
                      example: "USDC"
                    name:
                      type: string
                      example: "USD Coin"
                    chainId:
                      type: int
                      example: 43113
                    address:
                      type: string
                      example: "0x685A94e520CfA0AdF6b48dF42Fb1AeF8C024EAf5"
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 18
                symbol:
                  type: string
                  example: "USDC"
                name:
                  type: string
                  example: "USDC"
                chainId:
                  type: int
                  example: 43113
                address:
                  type: string
                  example: "0x685A94e520CfA0AdF6b48dF42Fb1AeF8C024EAf5"
                resourceID:
                  type: string
                  example: "0x0000000000000000000000c25902c1c5c16b9bf73702a8902e26bb0b8da37800"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "2000000000000000000"
            stableReserveAmount:
              type: string
              example: "2000000000000000000"
            path:
              type: array
              example: []
            path:
              type: array
              example: ["2"]
            priceImpact:
              type: string
              example: "0"
            bridgeFee:
              type: int
              example: 0
            tokenPath:
              type: string
              example: ""
        txn:
          required:
            - "execution"
          properties:
            execution:
              type: object
              required:
                - "from"
                - "to"
                - "data"
                - "value"
                - "gasLimit"
              properties:
                from:
                  type: string
                  example: "0xB00BC9e04698A3315B6038225a2E9e42D63C7669"
                to:
                  type: string
                  example: "0x98Ef834a3415f8651A99a87929b6244D0c81A8d2"
                data:
                  type: string
                  example: "0x"
                value:
                  type: string
                  example: "0x00"
                gasLimit:
                  type: string
                  example: "0x0f4240"





        result:
          required:
            - "code"
            - "data"
            - "log"
            - "hash"
          properties:
            code:
              type: string
              example: "0"
            data:
              type: string
              example: ""
            log:
              type: string
              example: ""
            codespace:
              type: string
              example: "ibc"
            hash:
              type: string
              example: "0D33F2F03A5234F38706E43004489E061AC40A2E"
          type: object
        error:
          type: string
          example: ""
    StatusResponse:
      type: object
      required:
        - "tx_status"
        - "tx_status_code"
        - "src_chain_id"
        - "dest_chain_id"
        - "src_tx_hash"
        - "dest_tx_hash"
      properties:
        tx_status:
          type: string
          example: "Completed"
        tx_status_code:
          type: string
          example: 1
        src_chain_id:
          type: string
          example: "80001"
        dest_chain_id:
          type: string
          example: "43113"
        src_tx_hash:
          type: string
          example: "0x0fac92a29bfa71c4c37e1e3ea8f90ac3dc8457e29268b554f056bc29cf38259d"
        dest_tx_hash:
          type: string
          example: "0x41f23c9bd5853af4805f04da5ac719b1bcbd3fcd193c08168cb4aead2d2626b7"
