openapi: 3.0.0
info:
  title: Pathfinder API
  description: API details for using the pathfinder API to do a cross-chain transfer/swap of tokens
servers:
  - url: https://api.pf.testnet.routerprotocol.com/api/v2
    description: Router Protocol Testnet
tags:
  - name: Quote
    description: Requesting a quote from the Pathfinder algorithm
  - name: Transaction
    description: Requesting a transaction for execution from the Pathfinder algorithm
  - name: Check Status
    description: Check status of your cross-chain request
paths:
  /quote:
    get:
      summary: Returns a quote for a cross-chain txn
      tags:
        - Quote
      operationId: quote
      description:
      parameters:
        - in: query
          name: fromTokenAddress
          required: true
          schema:
            type: string
          example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
          description: Token address of the asset you wish to transfer from the source chain.
        - in: query
          name: toTokenAddress
          required: true
          schema:
            type: string
          example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
          description: Token address of the asset you wish to receive on the destination chain.
        - in: query
          name: amount
          required: true
          schema:
            type: string
          example: "20000000000000"
          description: "Decimal-expanded amount of the token to be transferred (for eg: if you want to transfer 1 USDC, you need to send 1000000). You can use ethers.utils.parseUnits function to calculate the decimal-adjusted amount of the source token."
        - in: query
          name: fromTokenChainId
          required: true
          schema:
            type: string
          example: "80001"
          description: "Network ID of the source chain (eg: 80001 for mumbai testnet, 43113 for fuji)"
        - in: query
          name: toTokenChainId
          required: true
          schema:
            type: string
          example: "43113"
          description: "Token address of the asset you wish to receive on the destination chain."
        - in: query
          name: partnerId
          required: false
          schema:
            type: number
          example: 0
          description: "For testing omit this parameter. For any partnership, you can get your unique partner id by contacting us on Telegram or emailing us at contact@routerprotocol.com"
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteErrorResponse"
  /transaction:
    post:
      summary: Returns the quote and txn data for executing a cross-chain txn
      tags:
        - Transaction
      operationId: transaction
      description:
      requestBody:
        description: In request body pass the /quote response with senderAddress and receiverAddress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequestBody'
        required: true
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponseBody"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteErrorResponse"
  /status:
    get:
      summary: Returns the status of a cross-chain txn
      tags:
        - Status
      operationId: status
      description:
      parameters:
        - in: query
          name: txHash
          required: true
          schema:
            type: string
          example: "0x0fac92a29bfa71c4c37e1e3ea8f90ac3dc8457e29268b554f056bc29cf38259d"
          description: Transaction hash of the successfully mined source chain transaction.
        - in: query
          name: networkId
          required: true
          schema:
            type: string
          example: "80001"
          description: "Network ID of the source chain, i.e. where the transaction was initiated (eg: 80001 for mumbai testnet)."
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusErrorResponse"

components:
  schemas:
    QuoteErrorResponse:
      type: string
      example: "Not Found"
    StatusErrorResponse:
      type: string
      example: "Invalid source transaction hash"
    QuoteResponse:
      type: object
      required:
        - "flowType"
      properties:
        flowType:
          type: string
          example: "trustless"
        isTransfer:
          type: boolean
          example: true
        isWrappedToken:
          type: boolean
          example: false
        allowanceTo:
          type: string
          example: "0x190fC3352b361852E6abFE48d34C79473fF131D3"
        fromTokenAddress:
          type: string
          example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
        toTokenAddress:
          type: string
          example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
        source:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "bridgeFeeAmount"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "80001"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "200000000000000000000"
            stableReserveAmount:
              type: string
              example: "200000000000000000000"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            bridgeFeeAmount:
              type: int
              example: '2000237'
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []
        destination:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "43113"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "199999997999763"
            stableReserveAmount:
              type: string
              example: "199999997999763"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []  
        partnerId: 
          type: number
          example: 0
    StatusResponse:
      type: object
      required:
        - "tx_status"
        - "tx_status_code"
        - "src_chain_id"
        - "dest_chain_id"
        - "src_tx_hash"
        - "dest_tx_hash"
      properties:
        tx_status:
          type: string
          example: "Completed"
        tx_status_code:
          type: string
          example: 1
        src_chain_id:
          type: string
          example: "80001"
        dest_chain_id:
          type: string
          example: "43113"
        src_tx_hash:
          type: string
          example: "0x0fac92a29bfa71c4c37e1e3ea8f90ac3dc8457e29268b554f056bc29cf38259d"
        dest_tx_hash:
          type: string
          example: "0x41f23c9bd5853af4805f04da5ac719b1bcbd3fcd193c08168cb4aead2d2626b7"
    TransactionRequestBody:
      type: object
      required:
        - "flowType"
      properties:
        flowType:
          type: string
          example: "trustless"
        isTransfer:
          type: boolean
          example: true
        isWrappedToken:
          type: boolean
          example: false
        allowanceTo:
          type: string
          example: "0x190fC3352b361852E6abFE48d34C79473fF131D3"
        bridgeFee:
          type: object
          required:
            - "amount"
            - "decimals"
            - "symbol"
        source:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "bridgeFeeAmount"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "80001"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "19399929"
            stableReserveAmount:
              type: string
              example: "19399929"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            bridgeFeeAmount:
              type: int
              example: '600071'
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []
        destination:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "43113"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "199999997999763"
            stableReserveAmount:
              type: string
              example: "199999997999763"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []  
        fromTokenAddress: 
          type: string
          example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
        toTokenAddress: 
          type: string
          example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
        partnerId: 
          type: string
          example: "0"
        senderAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
        receiverAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
    TransactionResponseBody:
      type: object
      required:
        - "flowType"
      properties:
        flowType:
          type: string
          example: "trustless"
        isTransfer:
          type: boolean
          example: true
        isWrappedToken:
          type: boolean
          example: false
        allowanceTo:
          type: string
          example: "0x190fC3352b361852E6abFE48d34C79473fF131D3"
        source:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "bridgeFeeAmount"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "80001"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "200000000000000000000"
            stableReserveAmount:
              type: string
              example: "200000000000000000000"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            bridgeFeeAmount:
              type: int
              example: '2000237'
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []
        destination:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "43113"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "199999997999763"
            stableReserveAmount:
              type: string
              example: "199999997999763"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []  
        fromTokenAddress: 
          type: string
          example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
        toTokenAddress: 
          type: string
          example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
        senderAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
        receiverAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
        partnerId: 
          type: string
          example: "0"
        txn:
              type: object
              example: "can be different for different chain types"