openapi: 3.0.0
info:
  title: Pathfinder API
  description: API details for using the pathfinder API to do a cross-chain transfer/swap of tokens
servers:
  - url: https://k8-testnet-pf.routerchain.dev/api/v2
    description: Router Protocol Testnet
  - url: https://api-beta.pathfinder.routerprotocol.com/api/v2
    description: Router Protocol Mainnet
tags:
  - name: Quote
    description: Requesting a quote from the Pathfinder algorithm
  - name: Transaction
    description: Requesting a transaction for execution from the Pathfinder algorithm
  - name: Check Status
    description: Check status of your cross-chain request
paths:
  /quote:
    get:
      summary: Returns a quote for a cross-chain txn
      tags:
        - Quote
      operationId: quote
      description:
      parameters:
        - in: query
          name: fromTokenAddress
          required: true
          schema:
            type: string
          example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
          description: Token address of the asset you wish to transfer from the source chain.
        - in: query
          name: toTokenAddress
          required: true
          schema:
            type: string
          example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
          description: Token address of the asset you wish to receive on the destination chain.
        - in: query
          name: amount
          required: true
          schema:
            type: string
          example: "20000000000000"
          description: "Decimal-expanded amount of the token to be transferred (for eg: if you want to transfer 1 USDC, you need to send 1000000). You can use ethers.utils.parseUnits function to calculate the decimal-adjusted amount of the source token."
        - in: query
          name: fromTokenChainId
          required: true
          schema:
            type: string
          example: "80001"
          description: "Network ID of the source chain (eg: 80001 for mumbai testnet, 43113 for fuji)"
        - in: query
          name: toTokenChainId
          required: true
          schema:
            type: string
          example: "43113"
          description: "Token address of the asset you wish to receive on the destination chain."
        - in: query
          name: partnerId
          required: false
          schema:
            type: number
          example: 0
          description: "For testing omit this parameter. For any partnership, you can get your unique partner id - https://app.routernitro.com/partnerId"
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteErrorResponse"
  /transaction:
    post:
      summary: Returns the quote and txn data for executing a cross-chain txn
      tags:
        - Transaction
      operationId: transaction
      description:
      requestBody:
        description: In request body pass the /quote response with senderAddress and receiverAddress.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequestBody'
        required: true
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponseBody"
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteErrorResponse"
  /status:
    get:
      summary: Returns the status of a cross-chain txn
      tags:
        - Status
      operationId: status
      description:
      parameters:
        - in: query
          name: srcTxHash
          required: true
          schema:
            type: string
          example: "0x2e2bcff05d5602bd1b983132076c693c9ff35c925b1ad45a60aed9755aca5e19"
          description: Transaction hash of the successfully mined source chain transaction.
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusErrorResponse"

components:
  schemas:
    QuoteErrorResponse:
      type: string
      example: "Not Found"
    StatusErrorResponse:
      type: string
      example: "Invalid source transaction hash"
    QuoteResponse:
      type: object
      required:
        - "flowType"
      properties:
        flowType:
          type: string
          example: "trustless"
          description: type of bridging solution to be used for specified route. Currently following solutions are available 'trustless', 'mint-burn', 'circle', 'gateway' and 'none'. Here, 'none' is used when there is no bridging used like in case of same chain swap. 
        isTransfer:
          type: boolean
          example: true
          description: true if route is direct transfer without any swap.
        isWrappedToken:
          type: boolean
          example: false
          description: deprecated. Not used
        allowanceTo:
          type: string
          example: "0x190fC3352b361852E6abFE48d34C79473fF131D3"
          description: Depending upon 'flowType' and 'isTransfer', allowance has to be given to a particular contracts. All possible list of contracts can be queries via GET /api/v2/contracts
        fromTokenAddress:
          type: string
          example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
          description: source token as per request
        toTokenAddress:
          type: string
          example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
          description: destination token as per request
        source:
          type: object
          description: In case of source swap. 'tokenAmount' is amount user provides. It contains path details for swap that will be used by dexSpan contract (Nitro's swapper contract). Note - native tokens are represented as its wrapped native in quote as it's used by dexSpan. Actual input token is determined by user request `fromTokenAddress` if to be taken as gas.
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "bridgeFeeAmount"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "80001"
            asset:
              type: object
              description: source input token
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              description: source final swapped token that will be transferred to destination through a 'flowType'.
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "200000000000000000000"
            stableReserveAmount:
              type: string
              example: "200000000000000000000"
            path:
              type: array
              example: []
              description: If length of path is greater than 1, then only token is swap from index 0 'asset' to index length-1 'stableReserveAsset' of array using others as intermediate tokens.
            flags:
              type: array
              example: []
              description: flags represents aggregators and DEXs that is mapped in dexspan contract.
            priceImpact:
              type: string
              example: "0"
            bridgeFeeAmount:
              type: int
              example: '2000237'
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []
        destination:
          type: object
          description: In case of destination swap. `tokenAmount` is final amount that will be given to user. It contains path details for swap that will be used by dexSpan contract (Nitro's swapper contract).  Currently, final output token as wrapped native is not supported. 
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "43113"
            asset:
              type: object
              description: 'stableReserveAsset' is swapped to 'asset' if path length > 1 and sent to receiver. Note - final token as wrapped native is not supported currently. User will get native on destination in this case.
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              description: token that initially is transferred on destination.
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "199999997999763"
            stableReserveAmount:
              type: string
              example: "199999997999763"
            path:
              type: array
              example: []
              description: If length of path is greater than 1, then only token is swap from index 0 'stableReserveAsset' to index length-1 'asset' of array using others as intermediate tokens.
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []  
        partnerId: 
          type: number
          example: 0
        estimatedTime:
          type: number
          example: 40
          description: Estimated time of completion in seconds. Its based on chain combination and 'flowType'.
        slippageTolerance:
          type: number
          example: 1
    StatusResponse:
      type: object
      required:
        - "status"
        - "src_chain_id"
        - "dest_chain_id"
        - "src_tx_hash"
        - "dest_tx_hash"
        - "src_address"
        - "dest_address"
        - "src_amount"
        - "dest_amount"
        - "src_symbol"
        - "dest_symbol"
        - "src_timestamp"
        - "dest_timestamp"
      properties:
        status:
          type: string
          example: "completed"
          description: Transaction completion status.
        src_chain_id:
          type: string
          example: "80001"
        dest_chain_id:
          type: string
          example: "5"
        src_tx_hash:
          type: string
          example: "0x2e2bcff05d5602bd1b983132076c693c9ff35c925b1ad45a60aed9755aca5e19"
        dest_tx_hash:
          type: string
          example: "0x4e05ebda5183e926c0f4980e3101be9f461dfbca061edf08aa569889354752a5"
        src_address:
          type: string
          example: "0x418049cA499E9B5B983c9141c341E1aA489d6E4d"
        dest_address:
          type: string
          example: "0x8725bfdCB8896d86AA0a6342A7e83c1565f62889"
        src_amount:
          type: string
          example: "201.0"
        dest_amount:
          type: string
          example: "5.007069887860371228"
        src_symbol:
          type: string
          example: "SHI"
        dest_symbol:
          type: string
          example: "ROUTE"
        src_timestamp:
          type: int
          example: 1696572856
        dest_timestamp:
          type: int
          example: 1696573932
    TransactionRequestBody:
      type: object
      description: Request body contains response of /v2/quote response with these additional params 'senderAddress', 'receiverAddress' and 'refundAddress'.
      required:
        - "flowType"
      properties:
        flowType:
          type: string
          example: "trustless"
        isTransfer:
          type: boolean
          example: true
        isWrappedToken:
          type: boolean
          example: false
        allowanceTo:
          type: string
          example: "0x190fC3352b361852E6abFE48d34C79473fF131D3"
        bridgeFee:
          type: object
          required:
            - "amount"
            - "decimals"
            - "symbol"
        source:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "bridgeFeeAmount"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "80001"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "19399929"
            stableReserveAmount:
              type: string
              example: "19399929"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            bridgeFeeAmount:
              type: int
              example: '600071'
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []
        destination:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "43113"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "199999997999763"
            stableReserveAmount:
              type: string
              example: "199999997999763"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []  
        fromTokenAddress: 
          type: string
          example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
        toTokenAddress: 
          type: string
          example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
        partnerId: 
          type: string
          example: "0"
        estimatedTime:
          type: number
          example: 40
        slippageTolerance:
          type: number
          example: 1
        senderAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
          description: user's source chain address
        receiverAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
          description: user's destination chain address
        refundAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
          description: Address where user will be refunded in case when transaction doesn't go through and withdrawl is requested. Usually same as 'senderAddress'
    TransactionResponseBody:
      type: object
      description: In response all fields are same as request with one additional field 'txn'.
      required:
        - "flowType"
      properties:
        flowType:
          type: string
          example: "trustless"
        isTransfer:
          type: boolean
          example: true
        isWrappedToken:
          type: boolean
          example: false
        allowanceTo:
          type: string
          example: "0x190fC3352b361852E6abFE48d34C79473fF131D3"
        source:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "bridgeFeeAmount"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "80001"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 12
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "80001"
                address:
                  type: string
                  example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "200000000000000000000"
            stableReserveAmount:
              type: string
              example: "200000000000000000000"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            bridgeFeeAmount:
              type: int
              example: '2000237'
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []
        destination:
          type: object
          required:
            - "chainId"
            - "asset"
            - "stableReserveAsset"
            - "tokenAmount"
            - "stableReserveAmount"
            - "path"
            - "flags"
            - "priceImpact"
            - "tokenPath"
            - "dataTx"
          properties:
            chainId:
              type: string
              example: "43113"
            asset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            stableReserveAsset:
              type: object
              required:
                - "decimals"
                - "symbol"
                - "name"
                - "chainId"
                - "address"
                - "resourceID"
                - "isMintable"
                - "isWrappedAsset"
              properties:
                decimals:
                  type: int
                  example: 6
                symbol:
                  type: string
                  example: "USDT"
                name:
                  type: string
                  example: "USDT"
                chainId:
                  type: string
                  example: "43113"
                address:
                  type: string
                  example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
                resourceID:
                  type: string
                  example: "usdi"
                isMintable:
                  type: bool
                  example: false
                isWrappedAsset:
                  type: bool
                  example: false
            tokenAmount:
              type: string
              example: "199999997999763"
            stableReserveAmount:
              type: string
              example: "199999997999763"
            path:
              type: array
              example: []
            flags:
              type: array
              example: []
            priceImpact:
              type: string
              example: "0"
            tokenPath:
              type: string
              example: ""
            dataTx:
              type: array
              example: []  
        fromTokenAddress: 
          type: string
          example: "0x22bAA8b6cdd31a0C5D1035d6e72043f4Ce6aF054"
        toTokenAddress: 
          type: string
          example: "0xb452b513552aa0B57c4b1C9372eFEa78024e5936"
        senderAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
        receiverAddress:
          type: string
          example: "0x2B351b7bbC86ab5DF433539fE907f8EE4DE1B964"
        partnerId: 
          type: string
          example: "0"
        txn:
            type: object
            example: >
              for evm chain
              'from': 'sender or interactor',
              'to': 'contract to be invoked',
              'data': 'hex raw tnx data that contains method and its params details',
              'value': 'gas value',
              'gasPrice': 'gas price',
              'gasLimit': 'estimated gas limit. In case of gaslimit failure we provided some static value according to flowType'
            description: 'transaction object for a chain. Can be different for different chain types.'
